/* *{ */
    /* color: red; */
/* } */
/* shared section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.navber .btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 24px 120px 24px 346px;
}

/* different section  */
header{
    background-color: #FFFFFF; 
}

nav {
    max-width: 1600px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
nav .logo-nav {
    margin: 16px 120px;
}
nav .menu-nav ul{
    /* margin: 34px 346px; */
    max-width: 365px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: black;
    /* text-decoration: none; */
}

.btn-container{
    margin: 24px 120px 24px 346px;
}