/* *{ */
    /* color: red; */
/* } */
/* shared section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.navber .btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 24px 120px 24px 346px;
}

/* different section  */
header{
    background-color: #FFFFFF; 
}

nav {
    max-width: 1600px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
nav .logo-nav {
    margin: 16px 120px;
}
nav .menu-nav ul{
    /* margin: 34px 346px; */
    max-width: 365px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: black;
    /* text-decoration: none; */
}

.btn-container{
    margin: 24px 120px 24px 346px;
}
#banner{
       background-image: url("./assets/hero-bg.png");
}
#banner .banner-heading{
    margin: 115px 120px 263.5px;
    border: 1px solid red;
}
.banner-heading .radious{
    margin: 0 565px 260px 565px;
    width: 229;
}

#banner .banner-all{
    align-items: center;
    border: 1px solid red;
}

#banner .banner-all .early{
    width: 14%;
    max-width: 229px;
    margin: 115px auto 16px;
}

.banner-all .heading{
    width: 48%;
    max-width: 770px;
    margin: 51px 450px 76px;
}

.banner-all .buton button{

    padding: 12.5px 16px;
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    gap: 20px;
}
.banner-all .buton{
    width: 29%;
    max-width: 465px;
    text-align: center;
}
.banner-all .early{
    box-sizing: border-boxk;
    padding: 8px 12 px;
}