/* *{ */
    /* color: red; */
/* } */
/* shared section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.navber .btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 24px 120px 24px 346px;
}

/* different section  */
header{
    background-color: #FFFFFF; 
}

nav {
    max-width: 1600px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
nav .logo-nav {
    margin: 16px 120px;
}
nav .menu-nav ul{
    /* margin: 34px 346px; */
    max-width: 365px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: black;
    /* text-decoration: none; */
}

.btn-container{
    margin: 24px 120px 24px 346px;
}
#banner{
       background-image: url("./assets/hero-bg.png");
}
#banner .banner-heading{
    margin: 115px 120px 263.5px;
}
.banner-heading .radious{
    margin: 0 565px 260px 565px;
    width: 229;
}

#banner .banner-all{
    align-items: center;
    border: 1px solid;
}

#banner .banner-all .early{
    background-color: #FFFFFF;
    color: #30B868;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 16%;
    /* max-width: 229px; */
    margin: 115px auto 16px;
    padding-left: 10px;
}

.banner-all .heading{
    width: 48%;
    max-width: 770px;
    margin: 51px 450px 76px;
}
.banner-all .heading h1{
    color: #FFFFFF;
    font-size: 52px;
    line-height: 84px;
    font-weight: 700;
}
.banner-all .heading h1 .clr{
    color: #30B868;
}
.banner-all .heading p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.banner-all .buton{
    justify-content: center;
    margin: 32px 447.5px 179px;
}
.banner-all .buton button{

    padding: 12.5px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    gap: 20px;
}
.banner-all .early{
    box-sizing: border-boxk;
    padding: 8px 12 px;
}
#note{
    margin: 100px 120px 332px;
 
    text-align: center;
    
}

#note .note-text .p-one {
    font-weight: 700;
    color: #001931;
    font-size: 48px;
}
#note .note-text .p-two{
    color: #627382;
}
.card{
    margin-top: 40px;
    display: flex;
    max-width: 90%;
    width: 1360px;
    height: 300px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

#note .note-container .card .card-info p {
       color: #001931;
      font-size: 24px;

}
.card-info img{
    background: rgba(249, 85, 85, 1);
    border-radius: 20px;
}
.card .card-info {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
#note .note-container .card .card-info .two{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    line-height: 20px;
}

#second-brain .brain-container{
    margin: 120px;
    /* border: 1px solid red; */
    display: flex;
}

#second-brain .brain-container .image img{
    width: 600px;
}
#second-brain .brain-container .text{
    margin: 120px 0 60px;
}
#second-brain .brain-container .text .text-one .solution {
    margin-bottom: 16px;
    line-height: 20px;
    color: #30B868;
}
.text .text-one {
    margin: 1px 0 10px 60px;
}
.text .text-one .heading {
    font-weight: 700;
    font-size: 48px;
    margin: 16px 0;
}
.text .text-one .info{
    font-weight: 400;
    color:#627382;
    line-height: 20px;
}
.short-info{
    margin: 40px 0 102px 60px;
}
.short{
    display: flex;
}
.short p{
    color: #001931;
    font-size: 16px;
}

.content-third{
    width: 85%;
    max-width: 1360px;
    margin: 2px 120px 120px 120px;
    /* border: 1px solid red; */
     background-color: #FFFFFF;
}
.content-third .h{
    margin: 80px 40px 24px;
}
.content-third .h .bold{
    margin-bottom: 16px;
    font-size: 40px;
    text-align: center;
    font-style: Bold;
    font-weight: 700;
    color: #001931;
}
.content-third .h .paragraph{
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    text-align: center;
}

.content-third .b{
    margin: 24px 40px 80px ;
}
.content-third .b .btn{
    margin: none;
    text-align: center;
}
.b .btn button{
    padding: 12.5px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: #FFFFFF;
    gap: 20px;
}

.b .p{
    text-align: center;
    font-weight: 400;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

footer{
    background: rgba(0, 25, 49, 1);
}

.f-part .social{
    width: 85%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    margin: 120px 120px 80px;
    color: #FFFFFF;
}
.f-part .copyright{
    margin: 80px 120px 30px;
    text-align: center;
    font-weight: 400;
    font-size: small;
    color: #FFFFFF;
}